<h1>Mark-a-spot</h1>
<h2>Public Civic Issue Tracking and Crowdmapping Platform.</h2> 
<ul>
	<li>Tweet 311: Easily connects to social media.</li>
	<li>Customizable</li>
	<li>Open SaaS: No vendor lock-in, no long-term hosting contracts.</li>
	<li>Your choice of Maps: Integrate Mapbox, OpenStreetMap, Google Maps, ArcGIS and GeoServer maps in just seconds.</li>
	<li>Open 311: Ships with an Open311 Georeport v2 server.</li>
	<li>Workflows: Integrate any form of organization and connect to back office software.</li>
</ul>


<p class="video"><img src="http://placehold.it/500x300?text=Video" /></p>