
//social
.social-wall {
  min-height: 500px;
  margin-left: 0;
  padding-left: 0;
  
  li {
    list-style: none;
    width: 98%;
    float: left;
    margin: 1%;
    border: 1px solid $gray-lighter;
    padding: 10px;
    font-size: .9em;
    line-height: 1.4em;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 5px;
    }

    .text-gray {
      color: $gray-light;
      padding-top: 10px;
    }
  }
}

@include respond($sm-up) {
  .social-wall {
  
    li {
      width: 46%;
    }
  }
}

@include respond($md-up) {
  .social-wall {
    li {
      width: 31%;
    }
  }
}