

// showcase

.showcase {
  .panel {
    .img-wrapper {
      min-height: 70px;

      img {
        max-height: 70px;
        max-width: 100px;
        width: auto;
        padding: 10px
      }
    }
    
  }
}