
// City demo
.section-city {

  .navbar-city {
    a {
      color: $white !important;
    }
  }

  #banner.city-banner {
    //background-color: $gray-lighter;
    padding: 4rem 0;
    //background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/70/Benton_County_Courthouse_Greg_Keene.jpg);
    background-size: cover;
    position: relative;
    background-position: center 30%;
    
    h3,
    h1,
    .photo-credit {
      color: #fff;
      //text-shadow: #ccc 0 0 1px;
    }
  }


  .photo-credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $white;
    //text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.8);

    a {
      color: $white;
      text-decoration: underline;
    }
  }


  .customize {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-decoration: none !important;
    color: $white;
    background-color: $black;
    padding: 5px;
    opacity: .9;
    font-size: .8em;

    &:hover {
      opacity: 1;
    }

    ul {
      padding: 0;

      li {
        width: 80px;
        height: 60px;
        background-size: cover;
        list-style: none;
        margin-top: 5px;
      }
    }
  }


  .customize-bg,
  .customize-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .customize-bg{
    background-color: $black;
    opacity: 0.8;
  }

  #banner .customize-content {
    z-index: 9;
    color: $white;

    h3 {
      clear: both;
      color: $white !important;
    }

    ul {
      padding: 0;

      li {
        float: left;
        margin: 10px;
        list-style: none;
        cursor: pointer;
        cursor: hand;
        border: 1px solid $gray;

        &.active {
          &:before{
            content: "\f00c";
            font: normal normal normal 20px/1 FontAwesome;
            position: absolute;
            padding: 4px;
          }
        }
      }
    }

    .color-sm,
    .icons {
      float: left;

      li {
        display: inline-block;
        width: 30px;
        height: 30px;
      }
    }
    
    .color-lg li,
    .icons li {
      display: inline-block;
      width: 50px;
      height: 50px;

      &.fa {
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        background-color: $black;
      }
    }

    .thumbs li {
      display: inline-block;
      width: 150px;
      height: 100px;
    }

    .btn-submit {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    .close-icon {
      position: fixed;
      top: $navbar-height + 10px;
      right: 10px;
      color: $white;
      font-size: 40px;
    }
  }
  
}

.city-banner {
  h1 {
    margin-top: 0;
  }
}

.city-news {
  h5 {
    margin-top: 0;
  }
}

.agency-icon {
  background: $black url(../images/pattern.png);
  background-size: cover;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: block;

  &:hover {
    background-color: $brand-primary;
    text-decoration: none;
  }

  h3,
  .fa {
    color: $white;
  }


}

.section-city {
  .footer {
    background-color: $black;
    color: #fff;
    font-size: .85em;
    padding: 2rem 1rem;
    
    &, h2, a {
      color: $white;
    }

    a {
      background: transparent !important;

      &:hover,
      &:active {
        color: $brand-primary;
      }
    }
  }
}

.make-proud {
  padding: 2rem 0;
  background-color: $gray;
  //margin-bottom: -2rem; // to offset padding-bottom on main
}

.proudstamp {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-family-sans-serif;
  background: url(../images/crest.svg) left center no-repeat;
  background-size: 50px;
  padding-left: 60px;
  margin-bottom: 1rem;
}


// SeeClickFix
.seeclickfix-status {
  font-weight: bold;
  text-transform: uppercase;
}
.status-Acknowledged {
  color: #E3B14D;
}
.status-Open {
  color: #E76C6D;
}
.status-Closed {
  color: #9BBF6A;
}
.date {
  color: $gray-light;
}


#banner-bottom {
  position: fixed;
  width: 100%;
  border-top: 1px solid $gray-darker;
  bottom: 0;
  z-index: ($overlay-z-index - 1);
  @include transition(margin-bottom 0.3s ease-in);
  margin-bottom: -53px;

  .scrolled & {
    margin-bottom: 0;
  }

  .powered-by {
    position: absolute;
    bottom: 12px;
    right: 10px;
  }

  .try-another {
    position: absolute;
    bottom: 12px;
    left: 10px;
  }
}

.show-form {
  min-height: 20px;
}

.banner-wrap-city {
  position: static;
  padding-bottom: 100px;
  
  .search-form {
    position: absolute;
    z-index: 9;
  }
}


@include respond($xs-only) {
  .section-city {
    [proudcity-image] {
      display: none;
    }
  }
}

@include respond($sm-up) {
  .section-city {
    .footer {
      padding: 4rem;
    }
  }
}