
// Pricing
.pricing {
  li {
    position: relative;
    padding-left: 30px;

    small {
      display: block;
      color: $gray-light;
    }

    .fa-check {
      color: $brand-success;
      position: absolute;
      top: 1em;
      left: 0;
    }
  }

  .fa-check { 
    display: block;

    & + * {
      margin-top: 10px;
      max-width: 175px;
      margin-right: auto;
      margin-left: auto;
    }
  }


  table {

    thead {
      background: none;
    }

    tbody td, thead th {
      text-align: center;
      vertical-align: middle;
    }

    .color-row th {
      border-bottom: 0;
    }

    .price-row th {
      border-top: 0;
    }

    .color-row, .price-row {
      background-color: transparent;
    }

    .brand-success {
      background-color: $panel-success-heading-bg;
    }

    .brand-info {
      background-color: $panel-info-heading-bg;
    }

    .brand-primary {
      background-color: $panel-primary-heading-bg;
    }

    tr th:first-child {
      border-right: 1px solid $table-border-color;
    }

    // Give min-width, wrapping on right elements
    tr > * {
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        min-width: 175px;
        white-space: normal!important;
      }
    } 

    .label {
      display: inline-block;
      white-space: normal;
    }
  }
  
}

.tier-starter {
  .fa-check {
    color: $brand-success;
  }

  .label {
    @include label-variant($label-default-bg);
  }
}

.tier-proud {
  .fa-check {
    color: $brand-info;
  }
  .label {
    @include label-variant($label-info-bg);
  }
}

.tier-custom {
  .fa-check {
    color: $brand-danger;
  }

  .label {
    @include label-variant($label-danger-bg);
  }
}

@include respond($xs-only) {

  // .pricing .table-responsive {
  //   box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
  // }
}

// @include respond($sm-up) {

  
// }

@include respond($md-up) {

  .pricing .table {

    tr > * {
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        min-width: 210px;
      }
    } 
  }
}