
.steps {
  .step-arrow {
    &:before {
      font: normal normal normal 60px/1 FontAwesome;
      content: "\f061";
      position: absolute;
      top: 20%;
      right: -20px;
      color: $black;
    }
  }
  .number {
    display: block;
    font-family: $font-family-sans-serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 150px;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    text-align: center;
    background: $black;
    color: $white;
    border-radius: 75px;
  }

  .step-completed {
    .number {
      background-color: $gray-light;
    }
    h3 {
      color: $gray-light;
    }
  }

  .step-active {
    .number {
      background-color: $brand-primary;
    }
    h3,
    p {
      color: $brand-primary;
    }
  }

  &.steps-small {
    .number {
      font-size: 20px;
      line-height: 30px;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      display: inline-block;
      margin-right: 10px;
    }

    h3 {
      display: inline
    }
  }
}


@include respond($xs-only) {
  footer {
    padding-bottom: 40px;
  }
}


@include respond($sm-and-down) {
  footer {

    ul {
      margin-bottom: 40px;
    }
  }
}



// #footer {
//   background-color: $gray-lighter;
//   color: $gray-lighter;
//   margin-top: 3rem;
//   //position: absolute;
//   //bottom: 0;
//   //width: 100%;

//   footer {
//     padding: 2rem 0;
//     padding-right: 15px;
//   }

//   .footer-contact {
//     background-color: darken($gray-lighter, 10%);

//     ul {
//       float: none;
//     }
//   }
  

//   a:not(.btn) {
//     color: $gray;

//     &:hover {
//       background: none;
//       color: $brand-primary;
//     }
//   }

//   .menu {
//     //text-transform: uppercase;
//   }

//   p {
//     padding-left: 15px;
//   }

//   .clearfix {
//     clear: both;
//   }
// }