
.logo {
  max-height: 50px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: ($overlay-z-index - 1);

  .btn-get-started {
    height: 1.8rem;
    line-height: 1.8rem;
    margin-top: .45rem;
    padding-top: 0;
    padding-bottom: 0;
    color: $white;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    @include transition(padding 0.2s ease);
  }
}

.btn-get-started:hover {
  background-color: $brand-primary !important;
}

// 

@media (max-width: $grid-float-breakpoint-max) {
  #logo-menu {
    margin: 0;

    #logo {
      padding: 3px!important;
    }

    > li {
      float: left;
    }
  }

  #main-menu {
    float: none!important;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30px;
  }
}

@media (min-width: $grid-float-breakpoint) {
  #header {
    overflow: hidden;

    .navbar {
      body:not(.scrolled) & {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    .btn-get-started {
      margin-left: 1rem;
    }
  }

  main.section-home {
    #main-menu {
      margin-right: 0;
      @include transition(margin-right 0.1s ease-out); 

      body:not(.scrolled) & {
        margin-right: -144px;
      }
    }
  }
}