.spacing {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  body > & {
    //border-top: $navbar-height solid $navbar-inverse-bg;
    height: 100%;
  }
}


@include respond($xs-only) {
  .container {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.full-container {
  .spacing {
    padding-top: 1em;
    padding-bottom: 1em;

    &.full {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}