

// Helpers
// -------------------------------


.column-pad {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}

// Wrapper + animations
// -------------------------------

.app-wrap {
  padding-bottom: 50px;
}

.main-311 {
  @include transition(all ease 0.5s);
  @inlude clearfix();
  padding-bottom: 5px;
  width: 200%!important;


  &.slide-left {
    margin-left: -100%;

    & > .slide-left-2 {
      height: 1px;

      & + .slide-left-2 {
        height: auto;
      }
    }
  }

  .slide-left-2 {
    float: left;
    width: 50%!important;
    height: auto;

    & + .slide-left-2 { 
      height: 1px;
    }
  }

  h2:first-child {
    margin-top: 0;
  }
}

.back-btn {
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}

.column-pad .back-btn {
  padding-left: $grid-gutter-width/2;
}

// Naviagtion
// -------------------------------


$open-nav-dim: 30px;

// Open side nav
.open-nav {
  display: none;
  // display: block;
  // position: absolute;
  // left: 5px;
  // font-size: 14px;
  // width: $open-nav-dim;
  // min-height: 128px;
  // min-width: 0;
  // cursor: pointer;
  // top: 5px;
  // @include transition(all ease .2s);

  // a {  
  //   &, &:hover {
  //     text-decoration: none;
  //   }
  // }

  // i {
  //   display: block!important;
  //   margin: 0 0 10px;
  //   font-size: 23px;
  //   width: $open-nav-dim;
  //   height: $open-nav-dim;
  //   text-align: center;
  //   line-height: $open-nav-dim!important;
  //   position: relative;
  //   @include transform(rotate(0deg));
  //   @include transition(all ease .2s);
    
  //   .show-nav & {
  //     @include transform(rotate(180deg));
  //   }
  // }


  // span {
  //   display: block;
  //   @include transform(rotate(90deg));
  // }
}

// Menu items
// --------------------------------
// @see: patterns/_action-box.scss


// Content
// -------------------------------

.action-buttons {
  .slide-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: $light-weight;
    opacity: .54;
    font-size: $font-size-h3;
  }

  .content-contain {
    padding: $grid-gutter-width $grid-gutter-width/2;
  } 
}

ul.angular-311-2col {
  padding-left: 0;

  &.row {
    margin: 0;
  }
  
  & > li {
    overflow: hidden;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
    border-radius: 4px;
    border: 1px solid transparent;

    &.active {
      border-color: $gray-lighter;
      background-color: $gray-lightest;
      @include box-shadow(0 2px 3px -1px rgba(0,0,0,0.1));
    }
  }

  li {
    list-style: none;
  }

  ul {
    padding: 10px 0 0;

    li {
      margin-bottom: 0.5em;
    }
  }
}


// terms
// -------------------------------

$icon-dim: 40px;

.category-wrapper {
  &:hover {
    background-color: $gray-lighter;
  }
}

.category {
  // & > div {
  //   padding-bottom: 15px;
  // }
  position: relative;
  min-height: $icon-dim;
  
  & > div:first-child {
    position: absolute;
    left: $grid-gutter-width/2;
    padding: 0;

    ~ div {
      padding-left: 65px;
    }
  }

  a.fa {
    border-radius: 100%;
    color: $white;
    width: $icon-dim;
    height: $icon-dim;
    text-align: center;
    line-height: $icon-dim;
  }

  h4 {
    margin: 0;

    a {
      &:focus, &:hover {
        text-decoration: none;
      }
    }
  }
}

.top-category {
  
  h4 {
    display: table;
    min-height: $icon-dim;

    a {
      display: table-cell;
      vertical-align: middle;
    }
  }
}


// Forms
// -------------------------------

form {
  .has-error {
    .error-message {
      display: block !important;
    }
  }
  .has-success {
    .success-message {
      display: block !important;
    }
  }
}

.track-status {
  text-transform: uppercase;
  font-weight: bold;
}

.form-inline {
  .form-group + .btn {
    margin-bottom: 0;
  } 
}



// *
// * Media Queries
// *
// ******************************************************

@include respond($xs-only) {

 //  // we have soidebar first (docs section)
 //  .app-wrap {
 //    position: relative;
 //    padding-left: 32px;
 //  }

 //  .action-buttons {
 //    overflow: hidden;
 //    min-width: 100%;
 //  }

 //  .action-buttons > div {
 //    position: relative;
 //    @include transition(all ease 0.5s);
 //  }
 //  // }

 //  // // Only Mobile
 //  // @media screen and (max-width: $screen-xs-max) {
 // // we have soidebar first (docs section)
 //  .action-buttons > div {
 //    margin-left: -100%;
 //    max-width: none;
 //    width: 200%;
 //  }

 //  .show-nav { 
 //    .action-buttons > div {
 //      margin-left: 0%;
 //    }
 //  }
  $icon-dim: 35px;

  .nav-contain .nav-pills li a {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 25px;
    margin-bottom: 0;

    i {
      width: 100%;
      font-size: 20px;
      margin-right: 0;
      width: $icon-dim;
      height: $icon-dim;
      line-height: $icon-dim;
      background-color: rgba(0,0,0,0.1);
      border-radius: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
}

@include respond($sm-up) {

  .open-nav {
    display: none;
  }

  // Menu 
  // --------------------------------
  .nav-contain {
    //background: $black;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;

    .nav-pills li {
      padding-right: $grid-gutter-width/4;
      text-align: center;

      & ~ li {
        padding-left: $grid-gutter-width/4;
      }

      .fa {
        font-size: 50px;
        display: block;
      }

      a {
        background-color: $black;
      }
    }
  }

  // Content
  // -------------------------------

  .action-buttons {

    .content-contain {
      padding: $grid-gutter-width;
    } 
  }

  // terms
  // -------------------------------

  $icon-dim: 50px;

  .category {
    min-height: $icon-dim;
    
    & > div:first-child {
      ~ div {
        padding-left: 80px;
      }
    }

    a.fa {
      width: $icon-dim;
      height: $icon-dim;
      line-height: $icon-dim;
      font-size: 30px;
    }
  }

  .top-category h4 {
    //padding-top: 13px;
    min-height: $icon-dim;
  }

}

@include respond($sm-only) {

  // Content
  // -------------------------------

  ul.angular-311-2col {

    li {
      &:nth-child(2n + 1) {
        clear: left;
      }
    }
  }
}

@include respond($md-up) {

  // Menu 
  // --------------------------------
  .nav-contain .nav-pills {
    li {

      a {
        text-transform: uppercase;
      }
    }
  }
  // Content
  // -------------------------------

  ul.angular-311-2col {

    li {
      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }
}

