// Heading banners (used in forms)

.banner-marketing {
  background-position: center;
  background-size: stretch;
  background-color: #fff;
  position: relative;

  h1 {
    padding-bottom: 20px;
  } 

  p, .btn {
    font-size: 20px;
  }

  .get-started {

    h1,
    h2{
      color: $text-color;
    }

    h2 {
      font-weight: normal;
    }
    

    input {
      font-size: 1.5rem;
      line-height: 2rem;
      height: 4rem;
      margin: 0;
      font-weight: 900;

      &.form-control {
        background: rgba(255, 255, 255, 0.9);
        width: 70%;
        display: inline-block;
        vertical-align: middle;

        &,
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color: $black !important;
        }
      }

      &.btn {
        margin-left: 5px;
      }
    }
  }
}


// Blue banner 

.banner-wrap {
  z-index: 1;
  padding: 15px;
  position: relative;

  & > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    border-radius: $border-radius-base;
    background-color: $gray-lighter;
  }

  // Blue back
  &.blue-back {
    &:before {
      background-color: $brand-primary;
    }
  }

  // Backs that need white text
  &.blue-back {
    & > * {
      color: white;
    }
  }
}

@include respond($sm-up) {
  .banner-wrap {
    padding: 50px;
  }
}