
.contact-hide {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  @include transition(z-index .1s, opacity .3s ease-out);

  & > div {
    position: relative;
    z-index: 1;
  }

  &> .container {
    top: 10%;
    max-height: 80%;
    height: 100%;
  }

  > .container > .row {
    left: 0;
    width: 100%;

    &, & > .col-md-8 {
      &, & > .well {
        &, & > div {
          height: 100%;
          top: 0;
        }
      }
    }
  } 

  .well {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: (19px/2);
    
    & > div {
      overflow: auto;
      padding-right: (19px/2);
    }
  }
  
  &:after {
    @include transition(opacity .3s cubic-bezier(0.215,.61,.355,1));
    background: rgba(0,0,0,.75);
    content: "";
    position: absolute;
    // width: 0;
    // height: 0;
    height: 180%;
    width: 150%;
    top: -40%;
    right: -20%;
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
  }

  .started-active & {
    opacity: 1;
    display: block;
    z-index: $overlay-z-index;
    @include transition(z-index .1s ease-out 1s, opacity .3s ease-in .1);

    &:after {
      opacity: 1;
    }
  }

  .close-window {
    font-size: 24px;
    position: absolute;
    top: 6px;
    right: 21px;

    a {
      color: $black;
    }
  }
}

body.started-active {
  overflow: hidden!important;
}