<div proudcity-header></div>

<div class="full-container">

<div class="jumbotron">
  <div class="container">
    <h1>Features</h1>
    <p>Residents, businesses and visitors use your website to get things done. Our vision for government digital services makes it easy to get answers, pay bills, report issues and more.</p>
  </div>
</div>

<div class="full">
  <div class="container spacing">
    <div class="row spacing-sm">
      <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 col-xs-12">
        <div class="thumbnail">
          <img src="/images/answers.jpg" />
          <div class="caption">
            <h3>Answers</h3>
            <p>Residents come to your website with a question. The search-friendly Frequently Asked Questions get them answers quickly.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row"><div class="col-lg-10 col-lg-push-1 col-xs-12"><div class="row">
    <div class="col-md-6 col-sm-12" ng-repeat="item in primary">
      <h3>{{item.title}}</h3>
      <p ng-bind-html="item.desc"></p>
    </div> 
  </div></div></div>
</div>



<div class="full">
  <div class="container spacing">
    <div class="row spacing-sm">
      <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 col-xs-12">
        <div class="thumbnail">
          <img src="/images/payments.jpg" />
          <div class="caption">
            <h3>Payments</h3>
            <p>Online shopping is easy, and your city payments should be, too. You can leverage our default payment processing tool or integrate your legacy system.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row"><div class="col-lg-10 col-lg-push-1 col-xs-12"><div class="row">
    <div class="col-md-6 col-sm-12" ng-repeat="item in primary2">
      <h3>{{item.title}}</h3>
      <p ng-bind-html="item.desc"></p>
    </div> 
  </div></div></div>
</div>

<div class="full">
  <div class="container spacing">
    <div class="row spacing-sm">
      <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 col-xs-12">
        <div class="thumbnail">
          <img src="/images/social.jpg" />
          <div class="caption">
            <h3>Social media wall</h3>
            <p>Highlight every agency's social media presence -- such as Twitter, Facebook, Instagram and YouTube --  with a customizable social media wall.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row"><div class="col-lg-10 col-lg-push-1 col-xs-12"><div class="row">
    <div class="col-md-6 col-sm-12" ng-repeat="item in primary3">
      <h3>{{item.title}}</h3>
      <p ng-bind-html="item.desc"></p>
    </div> 
  </div></div></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row spacing-sm">
    <div class="col-md-12 text-center">
      In addition to our standard features, ProudCity integrates with (a growing list of) applications, making it easy to add popular and civic-specific services to your digital government platform. <a href="" ui-sref="integrations">See all integrations &raquo;</a>
    </div>
  </div>
</div>


<div proudcity-footer></div>

</div>