<div proudcity-header></div>
<div class="home full-container">

<div class="jumbotron full"><div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Digital as a public service</h1>
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-7">
        <div class="browser-header1">
          <div class="computer-bg">
            <div class="computer-inner">
              <video id="screencast" src="http://workhorse.albatrossdigital.com/homepage.mp4" autoplay=""></video>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="">
          <p>ProudCity lets municipalities of all sizes easily launch and manage their government digital services all in one place.</p>
          <a class="btn btn-primary btn-lg" ui-sref="start">Get started</a>
        </div>
      </div>
    </div>
  </div>
</div></div>


<div class=""><div>
  <div class="container home-features">
    
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">The web platform for today's government</h2>
      </div>
    </div>

    <div class="row spacing">
      <div class="col-md-5">
        <img src="/images/home/mobile.png" />
      </div>
      <div class="col-md-6 col-md-push-1">
        <h3>Mobile-friendly</h3>
        <p>ProudCity's fully responsive design gives residents a great experience on mobile, tablet and desktop. Your website will be user-friendly and beautiful no matter what device they use to access your city services.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row switch-md">
      <div class="col-md-5">
        <img src="/images/home/cloud.jpg" />
      </div>
      <div class="col-md-6">
        <h3>Cloud hosting, full support</h3>
        <p>ProudCity is a fully-managed, cloud-based, software-as-a-service platform with 99.9% uptime and guarantee 24/7 phone support so you can focus on more important work.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-md-5">
        <div class="browser-header">
          <img src="/images/home/payments.png" />
        </div>
      </div>
      <div class="col-md-6 col-md-push-1">
        <h3>Payments</h3>
        <p>Our simple payment tool allows residents to pay fees and fines easily and quickly. Alternatively, we can integrate or link to your current systems.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>


    <div class="row switch-md">
      <div class="col-md-5">
        <div class="browser-header">
          <img src="/images/home/cms.png" />
        </div>
      </div>
      <div class="col-md-6">
        <h3>Content management</h3>
        <p>ProudCity is built on top of a proven, flexible, enterprise-class content management system, empowering city staff to easily update their websites, complete with workflows that ensure publishing follows protocol for sharing and archiving public information.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="browser-header">
          <img src="/images/home/social-wall.png" />
        </div>
      </div>
      <div class="col-md-5 col-md-push-1">
        <h3>Social media wall</h3>
        <p>Highlight all your city government social media activity -- such as Twitter, Facebook, Instagram and YouTube -- on one interactive wall and make it easier for residents to follow and connect with you via these channels.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row switch-md">
      <div class="col-md-5">
        <div class="browser-header">
          <img class="no-padding" src="/images/home/map.png" />
        </div>
      </div>
      <div class="col-md-6">
        <h3>Services map</h3>
        <p>Highlight city services -- fire, police, schools, parks, city administration -- on a pre-populated map so residents can better locate and visualize public services.</p>
      </div>
    </div>

    <div class="row spacing">
      <div class="col-md-12 text-center">
        <a href="" ui-sref="features">see all features &raquo;</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

  </div>
</div></div> <!-- /.container -->

<div class=""><div>
  <div class="container section-integrations">
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Integrations</h2>
        <p>ProudCity integrates with (a growing list of) applications, making it easy to add popular and civic-specific services to your digital government platform. </p>
      </div>
    </div>

    <div class="row integrations spacing">
      <div class="col-md-6 col-sm-12 ng-scope"><div class="well">
        <div class="row">
          <div class="col-sm-3 text-center"><img src="/images/integrations/seeclickfix.png" title="SeeClickFix logo" width="100"></div>
          <div class="col-sm-9">
            <h3 class="ng-binding">SeeClickFix</h3>
            <p class="ng-binding">Create new issue, lookup issue, view issues on map</p>
          </div>
        </div>
      </div></div>
      <div class="col-md-6 col-sm-12 ng-scope"><div class="well">
        <div class="row">
          <div class="col-sm-3 text-center"><img src="/images/integrations/stripe.png" title="Stripe logo" width="100"></div>
          <div class="col-sm-9">
            <h3 class="ng-binding">Stripe</h3>
            <p class="ng-binding">Process online payments and automate the payment processing workflow</p>
          </div>
        </div>
      </div></div>
      <div class="col-md-6 col-sm-12 ng-scope"><div class="well">
        <div class="row">
          <div class="col-sm-3 text-center"><img src="/images/integrations/googleanalytics.png" title="Google Analytics logo" width="100"></div>
          <div class="col-sm-9">
            <h3 class="ng-binding">Google Analytics</h3>
            <p class="ng-binding">View traffic details and site trends directly from the administration dashboard</p>
          </div>
        </div>
      </div></div>
      <div class="col-md-6 col-sm-12 ng-scope"><div class="well">
        <div class="row">
          <div class="col-sm-3 text-center"><img src="/images/integrations/twitter.png" title="Twitter logo" width="100"></div>
          <div class="col-sm-9">
            <h3 class="ng-binding">Twitter</h3>
            <p class="ng-binding">View social media across multiple accounts on a social wall</p>
          </div>
        </div>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <a href="" ui-sref="integrations">see all integrations &raquo;</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>&nbsp;</p>
      </div>
    </div>

  </div>
</div></div> <!-- /.container -->

<div class="about"><div>
  <div class="container">
   <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="c6 c8"><a name="h.cdpef8r4jage"></a><span>About ProudCity</span><span>&nbsp;</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>We empower governments to proudly serve their residents and build a stronger sense of civic pride.</p>
      </div>
    </div>
   <div class="row">
    <div class="col-sm-8 col-md-6 col-sm-push-2 col-md-push-3">
      <h3>We believe</h3>
      <p class="c0"><span></span></p><ul class="c4 lst-kix_n9p471v1fa64-0 start"><li class="c1"><span>civic pride stems from a love of where you live</span></li><li class="c1"><span>governments want to serve proudly</span></li><li class="c1"><span>through open, responsive digital services, residents and governments can co-create cities they love and are proud of</span></li></ul>
    </div>
  </div>
  </div>
</div></div>

<div class="spacing steps"><div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">3 simple steps</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <span class="number">1</span>
            <h3>Demo</h3>
            <p>Find your city demo and claim it.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="number">2</span>
            <h3>Beta</h3>
            <p>Start building your new test site.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="number">3</span>
            <h3>Live</h3>
            <p>Make the beta your new city site.</p>
        </div>
    </div>
  </div>
</div></div>

<div ui-view></div>
<div proudcity-footer></div>

</div> <!-- /.home -->
