<div proudcity-header></div>

<!--
<div class="integrations full-container">
  <div id="banner" class="banner-marketing full"><div>
    <div class="container">
      <div class="banner-wrap blue-back col-sm-9 col-md-8 col-lg-6">
        <h1>Integrations</h1>
        <p>ProudCity integrates with (a growing list of) applications, making it easy to add popular and civic-specific services to your digital government platform.</p>
      </div>
    </div>
  </div></div>
</div>
-->

<div class="jumbotron">
  <div class="container">
    <h1>Integrations</h1>
    <p>ProudCity integrates with (a growing list of) applications, making it easy to add popular and civic-specific services to your digital government platform.</p>
  </div>
</div>

<div class="container spacing">

  <div class="integrations" ng-repeat="(key, items) in services">
    <h2>{{key}}</h2>
    <div class="row">
      <div class="col-md-6 col-sm-12" ng-repeat="item in items"><div class="well">
        <div class="row">
          <div class="col-sm-3 text-center"><img src="/images/integrations/{{item.image}}" title="{{item.title}} logo" width="100" /></div>
          <div class="col-sm-9">
            <h3>{{item.title}}</h3>
            <p>{{item.desc}}</p>
          </div>
        </div>
      </div></div>
    </div>
  </div>

  <div class="row spacing">
    <div class="col-md-12 text-center">
      Want to integrate your service with ProudCity? <a href="" ui-sref="contact">Contact us</a>.
    </div>
  </div>

</div><!-- /container -->
<div proudcity-footer></div>