<div proudcity-header></div>

<div class="jumbotron">
  <div class="container">
    <h1>Pricing</h1>
  </div>
</div>

<div class="container">

<div class="pricing spacing">
<div class="table-responsive">
    <table class="table">
    <thead>
        <tr class="color-row">
            <th></th>
            <th class="brand-success"><h4 class="text-center">Starter</h4></th>
            <th class="brand-info"><h4 class="text-center">Proud City</h4></th>
            <th class="brand-primary"><h4 class="text-center">Custom</h4></th>
        </tr>
        <tr class="price-row">
            <th></th>
            <th><strong><!--$250 / month--></strong></th>
            <th><strong><!--$700 / month--></strong></th>
            <th><strong><a ui-sref="contact">Contact us</a></strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Requirements gathering
                <div><small>With onboarding specialist</small></div>
            </th>
            <td class="tier-starter"></td>
            <td class="tier-proud"></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Only pay when you launch
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Support tickets                
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span><div class="text">5 tickets/month, 2-day guaranteed response</div></td>
            <td class="tier-proud"><span class="fa fa-check"></span><div class="text">Unlimited tickets, 6-hour guaranteed response</div></td>
            <td class="tier-custom"><span class="fa fa-check"></span><div class="text">24/7 phone, ticket support</div></td>
        </tr>
        <tr>
            <th>
                SLA    
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span><div class="text">Basic</div></td>
            <td class="tier-proud"><span class="fa fa-check"></span><div class="text">99.9% uptime</div></td>
            <td class="tier-custom"><span class="fa fa-check"></span><div class="text">Enterprise-level</div></td>
        </tr>
        <tr>
            <th>
                    Content Management System
                    <div><small>Publishing workflow, unlimited users, Google Apps SSO</small></div>
                    
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Answers
                    
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Payments
                    <div><small>Stripe integration, link out</small></div>                        
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span><div>Plus customized integration</div></td>
        </tr>
        <tr>
            <th>
                    Issues
                    <div><small>SeeClickFix, Open311</small></div>
                    
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span><div>Plus customized integration</div></td>
        </tr>
        <tr>
            <th>
                    Social network feed
                    
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Newsroom
                    
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Event calendar
                    
            </th>
            <td class="tier-starter"><span class="fa fa-check"></span></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Agency subsites
                    <div><small>Custom domains or subdomains</small></div>
                    
            </th>
            <td class="tier-starter"></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Content Liftoff migration tool and training
                    
            </th>
            <td class="tier-starter"></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Document archive
                    
            </th>
            <td class="tier-starter"></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Webforms
                    <div><small>With advanced email workflows</small></div>
                    
            </th>
            <td class="tier-starter"></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Job postings
                    
            </th>
            <td class="tier-starter"></td>
            <td class="tier-proud"><span class="fa fa-check"></span></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
        <tr>
            <th>
                    Custom feature development
                    
            </th>
            <td class="tier-starter"></td>
            <td class="tier-proud"></td>
            <td class="tier-custom"><span class="fa fa-check"></span></td>
        </tr>
    </tbody>
    </table>

</div>

</div>

</div><!-- container -->


<div proudcity-footer></div>