<div proudcity-header></div>
<div class="container">
<h1>Pricing</h1>



<div class="row pricing spacing">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="text-center">Starter</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>$250 / month</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Only pay when you launch
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Support tickets
                    <small>5 tickets/month, 2-day guaranteed response</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Basic SLA
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Content Management System
                    <small>Publishing workflow, unlimited users, Google Apps SSO</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Answers
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Payments
                    <small>Stripe integration or link out</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Issues
                    <small>SeeClickFix or other Open311 integration</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Social network feed
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Newsroom
                    <small>Stripe integration or link out</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Event calendar
                    <span class="fa fa-check pull-right"></span>
                </li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-success">Get started for free</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="text-center">Proud City</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>$700 / month</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Only pay when you launch
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Support tickets
                    <small>Unlimited tickets, 6-hour guaranteed response</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    99.9% uptime SLA
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Content Management System
                    <small>Publishing workflow, unlimited users, Google Apps SSO</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Answers
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Payments
                    <small>Stripe integration or link out</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Issues
                    <small>SeeClickFix or other Open311 integration</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Social network feed
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Newsroom
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Event calendar
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Agency subsites
                    <small>Custom domains or subdomains</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Content Liftoff migration tool and training
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Document archive
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Webforms
                    <small>With advanced email workflows</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Job postings
                    <span class="fa fa-check pull-right"></span>
                </li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-info">Get started for free</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">Custom</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong><a ui-sref="contact">Contact us</a></strong>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Requirements gathering
                    <small>With onboarding specialist</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Only pay when you launch
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Support tickets
                    <small>24/7 phone, ticket support</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Enterprise-level SLA
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Content Management System
                    <small>Publishing workflow, unlimited users, Google Apps SSO</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Answers
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Payments
                    <small>Stripe integration, link out, or customized integration</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Issues
                    <small>SeeClickFix, Open311, or customized integration</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Social network feed
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Newsroom
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Event calendar
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Agency subsites
                    <small>Custom domains or subdomains</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Content Liftoff migration tool and training
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Document archive
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Webforms
                    <small>With advanced email workflows</small>
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Job postings
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    Custom feature development
                    <span class="fa fa-check pull-right"></span>
                </li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-primary" ui-sref="contact">Contact us</a>
            </div>
        </div>
    </div>
</div>


</div><!-- container -->


<div proudcity-footer></div>