
<div ng-if="!hideForm" id="banner" class="banner-marketing"><div>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="banner-welcome welcome">
            <h2 class="text-center">Get started</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="get-started">
            <div proudcity-start></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h3>Company</h3>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/careers">Careers</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 connect">
          <h3>Product</h3>
          <ul>
            <li><a href="/features">Features</a></li>
            <li><a href="/integrations">Integrations</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/developers">Developers</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h3>Contact</h3>
          <ul>
            <li><a href="tel:+14157451482">(415) 745-1482</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 connect">
          <h3>Connect</h3>
          <a href="#"><i class="fa fa-twitter"></i></a> 
          <a href="#"><i class="fa fa-facebook"></i></a> 
          <a href="#"><i class="fa fa-linkedin"></i></a> 
          <a href="#"><i class="fa fa-github"></i></a> 
        </div>
      </div>
    </div>
</footer>
