
<div class="photo-credit" ng-if="settings.activeImage" ng-if="settings.header.backgroundImage">
  Photo from  <a href="" ng-href="{{settings.activeImage.link}}" target="_blank">{{settings.activeImage.attribution}}</a>
</div>

<a href="" class="customize" id="customize" ng-click="open()">
  <div>Customize</div>
  <ul>
    <li ng-repeat="image in settings.images | limitTo:3" style="background-image: url({{image.thumbUrl}});"></li>
  </ul>
</a>


<div class="customize-bg" ng-if="overlay"></div>
<div class="customize-content" ng-if="overlay">
  
  <div class="row">

    <div class="col-md-5">
      <div class="col-xs-12"> 

        <h3>Main color: </h3>
        <ul class="color-sm">
          <li ng-repeat="color in colors" style="background-color: {{color}};" ng-click="setValue('color', 'main', color);"></li>
        </ul>

        <h3>Secondary color: </h3>
        <ul class="color-sm">
          <li ng-repeat="color in colors" style="background-color: {{color}};" ng-click="setValue('color', 'secondary', color);"></li>
        </ul>

        <h3>Highlight color: </h3>
        <ul class="color-sm">
          <li ng-repeat="color in colors" style="background-color: {{color}};" ng-click="setValue('color', 'highlight', color);"></li>
        </ul>

      </div>
    </div>

    <div class="col-md-7">
      
      <h3>Search box</h3>
      <ul class="color-lg">
        <li ng-repeat="color in blackwhite" class="active" style="background-color: {{color}};" ng-click="setValue('header', 'searchColor', color);"></li>
        <li ng-repeat="icon in align" class="fa fa-align-{{icon}}" ng-click="setValue('header', 'searchAlign', align);"></li>
      </ul>

      <h3>Header Background <small>Photos from Wikipedia</small></h3>
      <ul class="thumbs">
        <li ng-repeat="image in settings.images | limitTo:5" style="background-image: url({{image.thumbUrl}});" ng-click="setValue('header', 'backgroundImage', image.url);"></li>
        <li ng-repeat="color in colors | limitTo:5" style="background-color: {{color}};" 
          ng-click="setValue('header', 'backgroundColor', color);setValue('header', 'backgroundImage', '');"></li>
      </ul>

    </div>

  </div>

  <a href="" ng-click="close()" class="close-icon"><i class="fa fa-times"></i></a>
  <!--<input type="submit" class="btn btn-large btn-primary btn-submit" value="Done" />-->

</div>

