<style type="text/css">
.navbar,
.nav-contain .nav-pills li a,
.agency-icon {
  background-color: {{settings.color.main}} !important;
}

.nav-contain .nav-pills li.active a,
#banner-bottom .btn-primary,
#map-wrapper .menu-ui a.active {
  background-color: {{settings.color.highlight}} !important;
}

#banner-bottom .btn-primary {
  border-color: {{settings.color.highlight}} !important;
}

a{
  color: {{settings.color.highlight}};
}

#banner.city-banner h3,
#banner.city-banner h1 {
  color: {{settings.header.searchColor}} !important;
}
</style>
