<form class="form-inline">
<input class="form-control" type="text" g-places-autocomplete placeholder="Find your city's demo" ng-model="location" options="autocompleteOptions" ng-change="preview();" />
<input type="submit" value="Go" class="btn btn-primary" ng-click="preview();" />
</form>
<p>(see <a href="" ui-sref="city({city:'Huntsville', state: 'Alabama'})">Huntsville</a>, <a href="" ui-sref="city({city:'Lafayette', state: 'California'})">Lafayette</a>, <a href="" ui-sref="city({city:'Corvallis', state: 'Oregon'})">Corvallis</a>)</p>