  <h2>Connect</h2>
  <ul isotope-container="isotope-container" class="social-wall">
    <li ng-repeat="item in social" isotope-item="isotope-item" class="social-{{item.service}}">
      <h6 ng-if="item.title">{{item.title}}</h6>
      <img ng-if="item.image" ng-src="{{item.image}}" />
      <div class="" ng-bind-html="item.text"></div>
      <i class="fa fa-{{item.service}} pull-right text-gray"></i>
      <div ng-if="item.date" class="social-date text-gray" date="{{item.date}}">{{item.date|date}}</div>
    </li>

  </ul>

  <a ng-click="shuffle()">Shuffle</a>