<div proudcity-header></div>


<div class="full-container">
<div class="jumbotron full"><div>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="banner-welcome welcome">
            <h1 class="text-center">Get started</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="get-started">
            <div proudcity-start></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="spacing steps"><div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">3 simple steps</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <span class="number">1</span>
            <h3>Demo</h3>
            <p>Find your city demo and claim it.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="number">2</span>
            <h3>Beta</h3>
            <p>Start building your new test site.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="number">3</span>
            <h3>Live</h3>
            <p>Make the beta your new city site.</p>
        </div>
    </div>
  </div>
</div></div>

<div proudcity-footer hide-form="true"></div>